body {
    margin: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.avatar {
    width: 150px;
    border-radius: 50%;
    box-shadow: 4px 4px 10px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #DCD7C9 ;
    color: #2C3639;
    border-left: 10px solid #3F4E4F;
    border-top: 10px solid #3F4E4F;
    border-radius: 8px;
}